@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: Merriweather, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* heading and logo */

h1, h2 {
    font-family: Montserrat, sans-serif;
    text-transform: capitalize;
    letter-spacing: 2px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 250%;
    margin-left: 30px;
    text-transform: uppercase;
    }

    /* navigation links */

    #menu {
        font-size: 110%;
        letter-spacing: 4px; 
    }

    #menu, #logo {
        line-height: 75px;
    }
    
    #menu li {
      float: right;  
      list-style-type: none;
      margin-right: 30px;
    }

    #menu a {
        text-decoration: none;
        color: inherit;
    }

    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }

    .active {
        border-bottom: 1px solid #3a3a3a;
    }

    #hero-outer {
        height: 400px;
        width: 100%;
        overflow: hidden;
 
        position: relative;

    }

    #cover-text, #cover-text h2 {
        color: #fff;
        text-align: center;
    }
    #hero-image {
        height: 615px;
        width: 140%;
        margin: -10%;
        background: url('../images/hero-\ image.webp');
       
    }

    #cover-text {
        font-size: 100%;
        font-family: Montserrat, sans-serif;
        text-transform: uppercase;
        letter-spacing: 2px;

        width: 300px;
        height: 100px;

        padding-top: 40px;
        padding-left: 10px;

        background-color: rgba(241, 109, 107, .7);

        bottom: 30px;
        right: 150px;

        position: absolute;
    }
    
    /* gym ethos */

    #gym-ethos {
        height: 615px;
    }

    #left-about {
        padding-top: 30px;
        width: 33%;
        float: left;
        
    }

    #right-about {
        padding-top: 30px;
        width: 33%;
        float: right;
        
    }

    #center-about {
        width: 33%;
        margin: 0 auto;
        
    }

    hr {
        border-top: 1px solid #3a3a3a;
        width: 100%;
        margin: 5px 0;
    }

    .left-about-heading {
        width: 60%;
        float: right;
        line-height: 20px;
        clear: both;
        margin: 50px;
    }

    
    #welcome {
        text-align: left;
        margin: 20px 0;
        font-size: 250%;
        margin-left: 100px;
         }

    .center-about {
        width: 60%;
        line-height: 20px;
        clear: both;
        margin: 50px;
    }

    #square-container {
        width: 1000px;
        height: 1000px;
        padding: 30px;
        border-style: solid;
        border-color: #ccc;
        border-width: 2px;
        margin: 0 auto;
    }

    .square-cover-bg {
        width: 60%;
        line-height: 20px;
        clear: both;
        margin: 50px;
        }
        
    
    .center-about-heading h2, h3 {
        text-align: center;
    }

    #square-cover-bg {
        background: url('../images/Fit\ With\ us.webp') no-repeat center center;
        height: 100%;
    }
    
  
